# Environment variables
*.env
.env.local

# IDE
.idea/
*.iml
.vscode/

# Build
target/
build/
dist/

# Dependencies
node_modules/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Database
postgres_data/

issues.json
labels.json
upload.js
DockerfileBackend
txt.txt
uml.drawio